/* GLOBAL SETTINGS */

:root {
  --accent: #f7bd09;
  --title: #f78109;
  --light1: #eeeeee;
  --light2: #bbbbbb;
  --main: #555555;
  --text: #232323;
  --minText: 1.125rem; /* ca. 18px */
  --maxText: 1.4rem; /* ca. 23px */
  --minLineH: 1.25rem; /* ca. 20px */
  --maxLineH: 1.6rem; /* ca. 26 px */
}

body {
  line-height: var(--minLineH);
  font-size: var(--minText);
  font-family: "Noto Sans", sans-serif;
  color: var(--text);
  scroll-behavior: smooth;
}

.btn:focus, .form-control:focus, input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

/* ============== MEDIA QUERY ================== */
/* Rimesse in alto per sovrascriverle più facilmente */

@media screen and (min-width: 576px) {
  body {
    font-size: calc(
      var(--minText) + (var(--maxText) - var(--minText)) *
        ((100vw - 576px) / (1200px -576px))
    );
    line-height: calc(
      var(--minLineH) + (var(--maxLineH) - var(--minLineH)) *
        ((100vw - 576px) / (1200px -576px))
    );
  }
}
@media screen and (min-width: 1200px) {
  body {
    line-height: var(--maxLineH);
    font-size: var(--maxText);
  }
}


/* EXTENDED CLASSES - START */
/* Rimesse in alto per sovrascriverle più facilmente */

.txtAccentHover:hover{
  color: white;
}

.txtAccent {
  color: var(--title);
  font-weight: bold;
  font-style: italic;
}

.txtTitle {
  color: var(--text);
  font-weight: bold;
}

.title-primary {
  color: var(--title);
}

.title-secondary {
  color: var(--accent);
}

.bg-orange {
  background-color: var(--title);
}
.bg-yellow {
  background-color: var(--accent);
}

.bg-yellow:hover {
  background-color: var(--accent);
}

.neumorphism {
  box-shadow: 10px 10px 20px var(--light2), -10px -10px 20px var(--light1);
}

.bg-light1 {
  background-color:var(--light1);
}

a.linkReset {
  color: inherit;
  text-decoration: none;
}

/* SECTION CLASSES */

.navbar {
  transition: 1s;
}

.header {
  height: 750px;
  min-height: 500px;
  background: linear-gradient(black, rgba(255,255,255,0.3), black),
    url(/media/slider-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.txt-shadow {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.28);
}

.search-box-layout1 form .form-group .input-search-btn {
  height: 3.75rem;
  line-height: 3.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 1.25rem 0 1.5625rem;
  position: relative;
}

.search-box-layout1 form .form-group .input-search-btn i {
  font-size: 0.75rem;
  color: #999999;
  margin-right: 0.75rem;
}

.search-box-layout1 form .form-group .input-search-btn label {
  font-size: 0.875rem;
  color: #999999;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 0;
}

.search-box-layout1 form .form-group .input-search-btn:after {
  content: "";
  width: 0.0625rem;
  height: 50%;
  background-color: #d7dce3;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.search-box-layout1 {
  background-color: #ffffff;
}

.search-box-layout1 form .form-group .submit-btn {
  height: 3.75rem;
  width: 101%;
  border: none;
  background-color: var(--accent);
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-box-layout1 form .form-group .submit-btn i {
  margin-right: 0.625rem;
}

.form-group {
  margin-bottom: 0px !important;
}

a.user {
  cursor: pointer;
}

/* SECTION CLASSES */

/* HOMECATEGORY - START */

section#HomeCategories {
  color: var(--main);
}

a.singleCategory {
  position: relative;
  padding: 5%;
  border-radius: 10%;
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
  width: 125% !important;
}
@media screen and (min-width: 319px) {
  section#HomeCategories div.col-sm-3 {
    width: 45%;
    margin: 10px;
  }
}

a.singleCategory p:first-of-type {
  font-weight: bold;
  // transform: scale(1);
  // transition: 200ms;
}

a.singleCategory p:last-of-type {
  color: var(--main);
  font-size: 0.85rem;
}

a.singleCategory i.fa-stack-2x {
  color: white;
}

a.singleCategory i.fa-stack-1x {
  color: var(--title);
}

a.singleCategory:hover {
  background-color: var(--title);
  color: white;
}

a.singleCategory:hover p:first-of-type {
  font-weight: bold;
  // transform: scale(1.2);
}

/* CATEGORY SECTION - END */
.star,
.star-half {
  color: var(--accent);
}

.card-title {
  font-weight: bold;
}

.subscribe {
  height: 450px;
  min-height: 300px;
  background: linear-gradient(black, rgb(0 0 0 / 0.5), black),
    url(/media/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading {
  color: var(--title);
  text-shadow: 2px 2px 2px rgb(5, 5, 5);
  margin-top: 30px;
}

.btn-iscriviti, .btn-iscriviti:hover, .btn-iscriviti:active {
  background-color: var(--accent);
  outline: none;
}

.icons
 {
  text-decoration: none;
  color: #d7dce3;
  text-align: center;
}

.icons:hover
 {
  text-decoration: none;
  color: lightblue;
}

.page-footer {
  margin-top: 0px;
  padding-top: 50px;
  color: #d7dce3;
  background-color: var(--text);
}

.txt-small {
  font-size: 0.9rem;
}

/* OVERFLOWSLIDER - START */

.overflowSliderBG {
  background-color: var(--light1);
}

#overflowSlider {
  scroll-behavior: smooth;
}

#overflowSlider .card-title {
  color: var(--title);
}

@media screen and (max-width: 600px) {
  #overflowSlider .col-6 {
    min-width: 280px;
    margin: 0px 1%;
  }
}

#overflowSlider a.btn,
#overflowSlider a.btn:focus {
  background: var(--accent);
  outline: none;
  box-shadow: none;
  color: white;
}

#overflowSlider:hover {
  cursor: grab;
}

#overflowSlider div.ofs-img-effect {
  position: relative;
  overflow: hidden;
}

#overflowSlider div.ofs-img-effect::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: var(--title);
  opacity: 0.3;
  transition: 1s;
}

#overflowSlider div.ofs-img-effect img.card-img-top {
  width: 320;
  height: 200;
  filter: grayscale(30%);
  transition: 1s;
}

#overflowSlider div:hover.card.neumorphism img.card-img-top {
  filter: grayscale(0%);
  transform: scale(1.3) rotate(5deg);
}

#overflowSlider div:hover.card.neumorphism div.ofs-img-effect::before {
  opacity: 0;
}

/* OVERFLOWSLIDER - END */

.bg-footer {
  background: linear-gradient(45deg, #f7bd0a, #f7810a);
}

a.color-icon {
  color: var(--title);
}

.border-yellow {
  border-right: 4px solid var(--accent);
}
@media screen and (max-width: 765px) {
  .border-yellow {
    border-right: none;
  }
}

.bg-grigio {
  background-color: var(--light1);
}

.img-footer {
  max-height: 100px;
  max-width: 150px;

}

.recensioni-card {
  max-width: 350px;
  max-height: 350px;
}


/* SIDEBAR KARIM */

.bg-accent {
  background-color: lightgray;
}

.widget-bg-title {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  background-color: yellow;
  color: var(--text);
  margin-bottom: 0;
  border-radius: 0.125rem 0.125rem 0 0;

}

/* TABELLA MODERATORE - START */

div#modList {
  font-size: 0.95rem;
  text-overflow: ellipsis;
  line-break: loose;
  vertical-align: baseline;
  margin-top: 50px;
  margin-bottom: 50px;
}

div#modList thead th {
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
}

div#modList tr:nth-of-type(even) {
  background-color: var(--light1);
}

div#modList hr, div#modList td {
  vertical-align: baseline;
}

div#modList .modListDate {
  min-width: 80px;
}

div#modList .modListUser {
  min-width: 100px;
}

div#modList .modListText {
  min-width: 150px;
}

div#modList .modListPrice {
  min-width: 50px;
}

div#modList .modListActions span.fa-stack,
div#modList .modListActions span.fa-stack i {
  margin: 0px;
  padding: 0px;
  transition: 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div#modList .modListActions i.fa-stack-2x {
  color: var(--accent);
}

div#modList .modListActions span.fa-stack:hover i.fa-stack-1x {
  color: var(--main);
  transform: rotateZ(360deg);
}

/* TABELLA MODERATORE - END */


/*pagina utente*/

.header-utente {
  height: 400px;
  min-height: 400px;
  background: linear-gradient(black, rgb(0.5 0 0.2 / 0.5), lightgrey),
    url(/media/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: none;
}


/*USER PAGE ALY*/


a.nav-description {
  background-color: var(--title) !important;
  color: #ffffff !important;
}

a.nav-dettagli {
  color: var(--title) !important;
}

.header-page {
  height: 30vh;
  background: linear-gradient(black, rgb(0.5 0 0.2 / 0.5), lightgrey),
  url(/media/bg-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top {
  margin-top: 80px;
}

a.border-btn {
  border: 1px solid var(--title);
}

a.nav-link:hover {
  color: var(--accent) !important;
}

a.btn-hover:hover {
  color:#fff !important;
}

@media screen and (min-width: 1200px){
 .container {
    max-width: 1240px !important;
 }
}

.header-login {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  border-color: var(--accent);
}